*{
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 24px;
   
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-image: url('../img/header-bg.jpg');
    min-height: 793px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu__list {
    display: flex;
}

.menu__list li + li{
    list-style: none;
    padding-left: 50px;
}

.menu__item {
    list-style: none;
}

.login {
    padding-right: 44px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu__list a {
    opacity: 0.5;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.5s;
}

.menu__list a:hover {
    opacity: 1;
}

.sign-up {
    color: #250F8A;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #fff;
    padding: 8px 43px 8px 43px;
    font-weight: 600;
}

.header-slider {
    padding-top: 111px;
}

.header-slider__item {

}

.header-slider__item-content {
    display: flex;
    justify-content: space-between;
}

.header-slider__item-info {
    max-width: 506px;
}

.header-slider__title {
    color: #FFFF;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 10px;
    font-weight: 700;
}

.header-slider__description {
    font-size: 24px;
    line-height: 55px;
    color: #FFF;
    font-weight: 400;
    margin-bottom: 60px;
}

.header-slider__btn {
    color: #250F8A;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    background: #FFCA00;
    border-radius: 25px;
    padding: 13px 39px 13px 39px;
    transition: all 0.5s;
}

.header-slider__btn:hover {
    color: #FFFF;
    background-color: rgb(235, 235, 88);
}



.header-slider__item-images {
    margin: 10px 82px 0 0;
}

.specialised__items {
    display: flex;
}

.specialised {
    padding: 55px 0 93px;
    /* background-image: url(../img/Style.svg); */
    background-repeat: no-repeat;
    background-position: left bottom;
    color: #202020;
}

.specialised__title {

}
.title {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 96px;
}
.specialised__items {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}

.specialised__item {
    width: 280px;
}
.specialised__item-img {
    margin-bottom: 23px;
}
.specialised__item-title {
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: 700;
}
.specialised__item-text {
    font-size: 15px;
    line-height: 24px;
}

.experienced {
    background-color: #F4F9FD;
    padding-top: 64px;
    
}
.experienced__inner {
    display: flex;
    justify-content: space-between;
}
.experienced__offer {
    max-width: 455px;
}
.experienced__offer-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    background-image: url(../img/bgcloud.svg);
    background-repeat: no-repeat;
    background-position: left top;
    padding: 68px 0 15px 48px;
}
.experienced__offer-text {
    padding-left: 48px;
    color: #272727;
    font-size: 15px;
    line-height: 24px;
}
.experienced__image {
    margin-top: -64px;
    max-height: 516px;
    margin: 12px 0;
}

.experienced__offer--right {
    max-width: 460px;
    max-height: 353px;
    margin-top: 76px;
}

.experienced__offer-title--right {
    background-image: url(../img/bgcloud2.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 68px 0 15px 48px;
}

.words {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 38px 0 82px;
}

.experienced__image--left {
    margin-top: -38px;
}

.words__inner {

}
.words__title {
    color: #FFF;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    margin: 0 auto;
    max-width: 384px;
    
}

.words__items {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
    
}

.word__item {
    width: 300px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255 .2);
    padding: 35px 20px;
    color: #FFF;
    background-image: url(../img/Bg.svg);
}

.word__item-head {
    display: flex;
    margin-bottom: 13px;
}

.word__item-head img {
    border-radius: 50%;
    margin-right: 20px;
}

.word__item-name {
    font-weight: 600;
}

.word__item-position {
    opacity: 0.5;
}

.word__item-text {
    text-align: center;
}

.word__item-photo {
    max-width: 49px;
    max-height: 50px;
}

.footer {
    
}

.footer-inner {
    color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    padding: 0 40px;
}

.footer-items a {
    color: black;
    margin-right: 20px;
}

@media (max-width: 924px) {
    .header__top {
        flex-wrap: wrap;
    }
    .header-btn {
        width: 100%;
        text-align: right;
        margin-right: 30px;
    }
}

@media (max-width: 570px) {
    .menu__list {
        display: none;
    }
    .menu__btn {
        width: 30px;
        height: 20px;
        position: relative;
        margin-right: 15px;
        overflow: hidden;
    }

    .menu__btn span {
        width: 100%;
        height: 2px;
        background-color: #fff;
        top: 9px;
        position: absolute;
    }
    .menu__btn:after,
    .menu__btn:before {
        content: "";
        width: 100px;
        height: 2px;
        background-color: #fff;
        position: absolute;
    }

    .menu__btn:after {
        top: 0;
    }
    .menu__btn:before {
        bottom: 0;
    }
}